table {
    width: 100%;
}

/* .btn-action {
    width: 30px;
    height: 30px;
} */

.mat-fab .mat-button-wrapper {
    padding: 0px !important;
}

table .btn-action>span.mat-button-wrapper {
    padding: 0px !important;
    margin: 50px;

}

table span.mat-button-wrapper .mat-icon {
    font-size: 15px;
    color: red;
}

.board-user {
    background: url(https://img.freepik.com/free-vector/abstract-digital-grid-vector-black-background_53876-111550.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.search-hero {
    max-width: 500px;
    margin: auto;
}

.form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
}

.form-control::placeholder {
    font-family: 'FontAwesome';
}